<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{blocks/head :: head}"/>
</head>
<body>
<header th:insert="~{blocks/header :: header}" class="p-3 text-bg-dark"></header>
<main>
    <div class="py-5 text-center container">
        <h1 th:text="${pageTitle}"></h1>
    </div>
    <div class="album bg-light">
        <div class="container py-3">
            <div th:unless="${#lists.isEmpty(articles)}">
                <div class="row row-cols-1">
                    <div th:each="article : ${articles}">
                        <div class="col py-1">
                            <div class="card shadow-sm">
                                <a th:href="'/articles/' + ${article.id}">
                                    <img type="button" th:src="${article.imageFile.URL}"
                                         class="bd-placeholder-img card-img-top articlePreviewCover"></a>
                                <div class="card-body">
                                    <p th:text="${article.title}" class="card-text mx-3"></p>
                                    <div class="container">
                                        <p class="float-end mb-0">
                                            <small th:text="${#temporals.format(article.timestamp, 'dd-MM-yyyy HH:mm')}"
                                                   class="text-muted"></small>
                                        </p>
                                        <div class="d-flex flex-row">
                                            <p class="mb-0 mx-1 text-muted"><small>Author: </small></p>
                                            <a th:href="'/users/' + ${article.author.id}" class="mb-0 mx-1 text-muted">
                                                <small th:text="${article.author.username}" class="mb-0 mx-1 text-muted"></small>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${#lists.isEmpty(articles)}">
                <h1 style="text-align: center">Articles not found</h1>
            </div>
        </div>
    </div>
</main>
<footer th:insert="~{blocks/footer :: footer}"></footer>
</body>
</html>