<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{blocks/head :: head}"/>
    <link rel="stylesheet" href="/static/css/user-profile-edit.css">
</head>
<body>
<header th:insert="~{blocks/header :: header}" class="p-3 text-bg-dark"></header>
<main>
    <div class="container rounded bg-light mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img id="avatar" th:src="'/img/'+${uneditedUser.id}+'/'+${uneditedUser.avatar}"
                         onerror="avatarLoadError(this);"
                         alt="Generic image" class="img-fluid img-thumbnail mt-4 mb-2"
                         style="width: 150px; z-index: 1"/>
                    <span class="font-weight-bold" th:text="${uneditedUser.fullname}"></span>
                    <span class="text-black-50" th:text="'@'+${uneditedUser.username}"></span>
                </div>
            </div>
            <div class="col-md-5 border-right">
                <form action="#" th:action="@{'/users/'+${uneditedUser.id}+'/edit'}" method="post"
                      th:object="${editedUser}"
                      enctype="multipart/form-data">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right" th:text="${uneditedUser.username} + ': profile edit'"></h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels">Username</label>
                                <input th:field="*{username}" name="username" type="text" class="form-control"
                                       placeholder="username"/>
                                <p th:if="${#fields.hasErrors('username')}" th:errorclass="error"
                                   th:errors="*{username}"/>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12"><label class="labels">Full Name</label>
                                <input th:field="*{fullname}" name="fullname" type="text" class="form-control"
                                       placeholder="full name" value=""/>
                                <p th:if="${#fields.hasErrors('fullname')}" th:errorclass="error"
                                   th:errors="*{fullname}"/>
                            </div>
                            <div class="col-md-12"><label class="labels">E-mail</label>
                                <input th:field="*{email}" name="email" type="email" class="form-control"
                                       placeholder="name@example.com" value=""/>
                                <p th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}"/>
                            </div>
                            <div class="col-md-12"><label class="labels">About</label>
                                <textarea th:field="*{about}" name="about" type="text" class="form-control"
                                       placeholder="Tell us about yourself" value="" rows="5"/>
                            </div>
                            <div class="col-md-12 py-3"><label class="labels">Profile Image</label>
                                <input type="file" name="file"/>
                            </div>
                            <div sec:authorize="hasAuthority('ADMIN')" class="col-md-12"><label
                                    class="labels">Roles</label>
                                <div th:each="role : ${allRoles}">
                                    <div class="form-check">
                                        <input type="checkbox" th:field="${user.roles}" th:value="${role}"/>
                                        <label class="form-check-label" th:text="${role}"> </label>
                                    </div>
                                </div>
                            </div>
                            <div th:if="${uneditedUser.id} == ${#authentication.principal.id} or ${#authorization.expression('hasAuthority(''ADMIN'')')}"
                                 class="col-md-12"><label class="labels">Password</label>
                                <input name="password" type="password" class="form-control"
                                       placeholder="password" value=""/>
                                <p th:if="${#fields.hasErrors('password')}" th:errorclass="error"
                                   th:errors="*{password}"/>
                            </div>
                            <div sec:authorize="hasAuthority('ADMIN')" class="col-md-12 py-3"><label
                                    class="labels">Active Account</label>
                                <input type="checkbox" name="active" th:checked="*{active}"/>
                                <p th:if="${#fields.hasErrors('active')}" th:errorclass="error"
                                   th:errors="*{active}"/>
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <button class="btn btn-primary profile-button" type="submit">Save Profile</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:insert="~{blocks/footer :: footer}"></footer>
</body>
</html>


