<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{blocks/head :: head}"/>
</head>
<body>
<header th:insert="~{blocks/header :: header}" class="p-3 text-bg-dark"></header>
<main>
    <div class="py-5 text-center container">
        <h1 th:text="${pageTitle}"></h1>
    </div>
    <div class="album py-5 bg-light">
        <div class="container d-flex justify-content-center">
            <img src="/static/img/error-pictures/not-found.gif" alt="*Travolta wondering where is the page gone*"/>
        </div>
    </div>
</main>
<footer th:insert="~{blocks/footer :: footer}"></footer>
</body>
</html>
