<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{blocks/head :: head}"/>
    <link rel="stylesheet" href="/static/css/signin.css">
</head>
<main class="form-signin">
    <body class="text-center">
    <div th:if="${activationStatusMessage != null}">
        <div th:if="${activationIsSuccessful}" class="alert alert-success" role="alert"
             th:text="${activationStatusMessage}"/>
        <div th:unless="${activationIsSuccessful}" class="alert alert-danger" role="alert"
             th:text="${activationStatusMessage}"/>
    </div>
    <a href="/" class="mb-5 btn btn-secondary">Return to Main Page</a>
    <form th:action="@{/login}" method="post">
        <img class="mb-4" src="/static/img/logo.svg" alt="" width="50"
             height="50"/>
        <h1 class="h3 mb-3 fw-normal">Please log in</h1>
        <div class="form-floating">
            <input type="text" name="username" class="form-control" placeholder="Username"/>
            <label>Username</label>
        </div>
        <div class="form-floating">
            <input type="password" name="password" class="form-control" placeholder="Password"/>
            <label>Password</label>
        </div>
        <div th:if="${param.error}">
            <p class="error">Invalid username or password.</p>
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="remember-me"/>Remember me
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Log in</button>
        <p class="mt-1 mb-1">or</p>
        <a href="/register" class="w-100 btn btn-lg btn-warning">Register</a>
        <p class="mt-5 mb-3 text-muted">&copy; 2023</p>
    </form>
    </body>
</main>
</html>
