<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{blocks/head :: head}" class="p-3 text-bg-dark">/
    <head>

<body>

<header th:insert="~{blocks/header :: header}" class="p-3 text-bg-dark"></header>

<main>
    <div class="py-5 text-center container">
        <h1 th:text="${post.title}"></h1>
        <p th:text="${post.fullText}"></p>
        <a th:href="'/posts/' + ${post.id} + '/edit'" class="nav-link px-2 text-grey">Edit</a>
        <form th:action="'/posts/' + ${post.id} + '/remove'" method="post">
            <button class="btn btn-warning" type="submit">Remove</button>
        </form>

    </div>
</main>

<footer th:insert="~{blocks/footer :: footer}"></footer>

</body>
</html>