<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{blocks/head :: head}"/>
</head>
<body>
<header th:insert="~{blocks/header :: header}" class="p-3 text-bg-dark"></header>
<main>
    <div class="py-5 text-center container">
        <h1 th:text="${title}"></h1>
    </div>
    <div class="album bg-light">
        <div class="container py-3">
            <div th:unless="${#lists.isEmpty(posts)}">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div th:each="post : ${posts}">
                        <div th:insert="~{blocks/post-preview :: post-preview}"></div>
                    </div>
                </div>
            </div>
            <div th:if="${#lists.isEmpty(posts)}">
                <h1 style="text-align: center">Posts not found</h1>
            </div>
        </div>
    </div>
</main>
<footer th:insert="~{blocks/footer :: footer}"></footer>
</body>
</html>
