<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head class="p-3 text-bg-dark">
    <div th:replace="~{blocks/head :: head}"/>
    <link rel="stylesheet" href="/static/css/register.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body class="text-center">
<main class="form-signin">
    <a href="/" class="mb-2 btn btn-secondary">Return to Main Page</a>
    <form action="#" th:action="@{/register}" th:object="${user}" method="post">
        <img class="mb-1" src="/static/img/logo.svg" alt="" width="50"
             height="50"/>
        <h1 class="h3 mb-1 fw-normal">Registration</h1>
        <div class="form-floating py-1">
            <input th:field="*{username}" type="text" class="form-control" id="usernameField" placeholder="Username"/>
            <label for="usernameField">Username</label>
            <p th:if="${#fields.hasErrors('username')}" th:errorclass="error" th:errors="*{username}"/>
        </div>
        </div>
        <div class="form-floating py-1">
            <input th:field="*{fullname}" type="text" class="form-control" id="fullnameField" placeholder="Full Name"/>
            <label for="fullnameField">Full Name</label>
            <p th:if="${#fields.hasErrors('fullname')}" th:errorclass="error" th:errors="*{fullname}"/>
        </div>
        <div class="form-floating py-1">
            <input th:field="*{email}" type="email" class="form-control" id="emailField" placeholder="name@example.com"/>
            <label for="emailField">Email address</label>
            <p th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}"/>
        </div>
        <div class="form-floating py-1">
            <input name="password" type="password" class="form-control" id="passwordFiled" placeholder="Password"/>
            <label for="passwordFiled">Password</label>
            <p th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}"/>
        </div>
        <div class="form-floating py-1">
            <input name="password2" type="password" class="form-control" id="passwordFiled2"
                   placeholder="Confirm Password"/>
            <label for="passwordFiled">Confirm Password</label>
            <p th:if="${password2error != null && #strings.isEmpty(password2error) == false}" class="error"
               th:text="${password2error}"></p>
            <p th:if="${passwordsEqualsError != null && #strings.isEmpty(passwordsEqualsError) == false}" class="error"
               th:text="${passwordsEqualsError}"></p>
        </div>
        <div class="g-recaptcha" data-sitekey="6LdKA-UkAAAAAFEpm6FZssDDfo2QDc2maE9hQeZi"></div>
        <p th:if="${captchaError != null && #strings.isEmpty(captchaError) == false}" class="error"
           th:text="${captchaError}"></p>
        <button class="w-100 btn btn-lg btn-warning" type="submit">Register</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2023</p>
    </form>
</main>
</body>
</html>
