<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{blocks/head :: head}" class="p-3 text-bg-dark">
<body>
<header th:insert="~{blocks/header :: header}" class="p-3 text-bg-dark"></header>
<main>
    <div class="py-5 text-center container">
        <h1 th:text="${title}"></h1>
    </div>
    <div class="album bg-light">
        <div class="container py-3">
            <div th:unless="${#lists.isEmpty(last3Posts)}">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div th:each="post : ${last3Posts}">
                        <div th:insert="~{blocks/post-preview :: post-preview}"></div>
                    </div>
                </div>
            </div>
            <div th:if="${#lists.isEmpty(last3Posts)}">
                <h3 style="text-align: center">User has no posts yet.</h3>
            </div>
        </div>
    </div>

</main>
<footer th:insert="~{blocks/footer :: footer}"></footer>
</body>
</html>