<div th:fragment="header">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a href="/articles" class="nav-link px-2 text-white">Articles</a></li>
                <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
                <li sec:authorize="hasAnyAuthority('MODERATOR','ADMIN')"><a href="/users"
                                                                            class="nav-link px-2 text-white">Users</a>
                </li>
                <li sec:authorize="isAuthenticated()"><a th:href="'/users/' + ${#authentication.principal.id} + '/feed'"
                                                         class="nav-link px-2 text-white">My
                    Feed</a></li>
                <li sec:authorize="isAuthenticated()"><a
                        th:href="'/users/' + ${#authentication.principal.id} + '/posts'"
                        class="nav-link px-2 text-white">My Posts</a></li>
                <li sec:authorize="isAuthenticated()"><a href="/posts/add" class="nav-link px-2 text-white">Add Post</a>
                <li sec:authorize="hasAnyAuthority('MODERATOR','ADMIN')"><a href="/articles/add" class="nav-link px-2 text-white">Add Article</a>
                </li>
            </ul>
            <form method="get" action="/search" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" name="filter" class="form-control form-control-dark text-bg-dark"
                       placeholder="Search posts or @users..."
                       aria-label="Search"/>
            </form>
            <div class="text-end">
                <a sec:authorize="isAnonymous()" href="/login" class="btn btn-outline-light me-2">Login</a>
                <a sec:authorize="isAnonymous()" href="/register" class="btn btn-warning">Register</a>
            </div>
            <div sec:authorize="isAuthenticated()" id="usernameHeader"
                 th:text="'@' + ${#authentication.principal.username}"/>

            <div sec:authorize="isAuthenticated()" class="dropdown text-end ms-2">
                <a href="#" role="button" class="d-block link-light text-decoration-none dropdown-toggle"
                   id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img
                            th:src="'/img/'+${#authentication.principal.id}+'/'+${#authentication.principal.avatar}"
                            onerror="avatarLoadError(this);" alt="mdo" width="32" height="32"
                            class="rounded-circle avatarSmallCover"/>
                </a>
                <ul class="dropdown-menu dropdown-menu-end text-small" aria-labelledby="dropdownUser1" style="">
                    <li><a th:href="'/users/' + ${#authentication.principal.id}" class="dropdown-item">My Profile</a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>
                    <li><a th:href="'/users/' + ${#authentication.principal.id} + '/feed'" class="dropdown-item">My
                        Feed</a></li>
                    <li><a th:href="'/users/' + ${#authentication.principal.id} + '/posts'" class="dropdown-item">My
                        Posts</a></li>
                    <li><a href="/posts/add" class="dropdown-item">Add Post</a></li>
                    <li sec:authorize="hasAnyAuthority('MODERATOR','ADMIN')"><a href="/articles/add" class="dropdown-item">Add Article</a></li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <input class="dropdown-item" type="submit" value="Log Out"/></form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
