<th:block th:fragment="head">
    <link rel="apple-touch-icon" href="/static/img/logo.svg" sizes="180x180"/>
    <link rel="icon" href="/static/img/logo.svg"/>
    <title th:text="${pageTitle}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/image-fit.css"/>
    <link rel="stylesheet" href="/static/css/error.css"/>
    <script type='text/javascript' src='/static/js/jquery.min.js'></script>
    <script type='text/javascript' src='/static/js/bootstrap.bundle.min.js'></script>
    <script type='text/javascript' src='/static/js/imgLoadError.js'></script>
</th:block>
