<div th:fragment="pager">
    <nav aria-label="Navigation">
        <ul class="pagination pagination-sm justify-content-center m-0"
            th:with="fullFilter=((${filter} != null) ? ('&filter=' + ${filter}) : '')">

            <li th:if="${page.isFirst}" class="page-item disabled">
                <a class="page-link" href="#">First</a>
            </li>
            <li th:unless="${page.isFirst}" class="page-item">
                <a class="page-link" th:href="'?page=1' + ${fullFilter}">First</a>
            </li>


            <li th:unless="${page.hasPrevious}" class="page-item disabled">
                <a class="page-link" href="#">«</a>
            </li>
            <li th:if="${page.hasPrevious}" class="page-item">
                <a class="page-link" th:href="'?page=' + ${page.number} + ${fullFilter}">«</a>
            </li>


            <li class="page-item  active">
                <a class="page-link" href="#" th:text="${page.number + 1}"></a>
            </li>


            <li th:if="${page.hasNext}" class="page-item">
                <a class="page-link" th:href="'?page=' + ${page.number + 2} + ${fullFilter}">»</a>
            </li>
            <li th:unless="${page.hasNext}" class="page-item disabled">
                <a class="page-link" href="#">»</a>
            </li>


            <li th:if="${page.isLast}" class="page-item disabled">
                <a class="page-link" href="#">Last</a>
            </li>
            <li th:unless="${page.isLast}" class="page-item">
                <a class="page-link" th:href="'?page=' + ${page.totalPages} + ${fullFilter}">Last</a>
            </li>

        </ul>
    </nav>
</div>