<div th:fragment="post-preview">
    <div class="col">
        <div class="card shadow-sm">
            <a th:href="'/posts/' + ${post.id}">
                <img type="button" th:src="'/img/'+${post.author.id}+'/'+${post.filename}"
                     class="bd-placeholder-img card-img-top postPreviewCover"/></a>
            <div class="card-body">
                <p th:text="${post.title}" class="card-text mx-3"></p>
                <div class="container ">
                    <p class="float-end mb-0">
                        <small th:text="${#temporals.format(post.timestamp, 'dd-MM-yyyy HH:mm')}"
                               class="text-muted"></small>
                    </p>
                    <div class="d-flex flex-row">
                        <p class="mb-0 mx-1 text-muted"><small>Author: </small></p>
                        <a th:href="'/users/' + ${post.author.id}" class="mb-0 mx-1 text-muted">
                            <small th:text="${post.author.username}" class="mb-0 mx-1 text-muted"></small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
